<html>
    <head>
        <title>erpambudi To-Do lists</title>
    </head>
    <body>
        <h2 align="center">Website Django erpambudi</h1>
        <hr align="center" width="100%" color="#3a3634" size="2">
        <h2 align="center" size="36"> RIZKI PAMBUDI </h1>
        
        <p align="center"> Hallo nama saya Rizki Pambudi, saya lahir di Cilacap. saya anak kedua dari tiga bersaudara. saat ini saya sedang menempuh pendidikan di Institut Teknologi Telkom Purwokerto dan mengambil jurusan S1 - Software  Engineering. saat ini saya sudah di Semester 6.
            Saya sangat tertarik dalam hal tekhnologi. khususnya yang berkaitan luar angkasa. selain itu saya juga menyukai bermain game, khususnya game RPG Open World.
            Cita - Cita saya saat ini adalah ingin menjadi seorang developer. dan bisa membahagiakan kedua orang tua saya.
        </p>
 
        <p align="left">
        Hobbies:
            <ul>
                <li>Gaming</li>
                <li>Praying</li>
            </ul>
 
        <h1 align="center">My To-Do list</h1>

        <table id="id_todo_table" border="1" align="center">
            <tr>
                <td>1: Tugas Pemrograman Web Perangkat Bergerak</td>
            </tr>
            <tr>
                <td>2: Tugas Pemrograman Mobile Lanjut</td>
            </tr>
            <tr>
                <td>3: Tugas Metode AGILE</td>
            </tr>
            <tr>
                <td>4: Tugas Metode Penelitian</td>
            </tr>

            <tr>
                <td>5: Tugas Komputer dan Masyarakat</td>
            </tr>

            <tr>
                <td>6: Tugas Technopreneurship</td>
            </tr>

        </table>

        <h3 align="center" style="margin-top: 30px;">Komentar</h1>
        <table id="id_list_table" align="center">
            {% for item in items %}
            <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
            {% endfor %}
        </table>

        <form method="POST" align="center" >
            <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
            {% csrf_token %}
        </form>
        
        <hr align="center" width="100%" color="#3a3634" size="2">
        <p align="center"> Copyright 2020 </p>        

    </body>
</html>